.comment {
    padding: 1em;
    display: flex;
    align-items: center;
    background: #FFFFFF;

    &>span:first-of-type {
        width: 2.5em;
        height: 2.5em;
    }

    & .description {
        flex-grow: 1;
        flex-shrink: 1;
        background: #E8E8E8;
        border-radius: 0.3em;
        padding: 0.5em;
        margin-left: 1em;
        position: relative;
    }

    & .action-buttons {
        display: flex;
        right: 0.5em;
        top: 0.5em;
        position: absolute;

        & button:first-child {
            margin-right: 0.5em;
        }
    }
}