.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;

  .modal {
    position: relative;
    background: var(--theme-background-color);
    border-radius: $border-radius;
    min-width: 500px;
    cursor: default;

    &.full-width {
      width: 90%;
      max-height: 90%;
    }

    @include bp(phone) {
      width: 90%;
      margin: 0 auto;
      min-width: unset;
    }

    .header,
    .content {
      padding: $sm-spacing $md-spacing;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid var(--theme-border-color);
      border-bottom: 1px solid var(--theme-border-color);
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;

      .title {
        font-size: 1.3em;
        font-weight: normal;
        padding-bottom: 0;
      }

      .button-container {
        position: absolute;
        right: 0.85em;
      }
    }

    .content {
      border-left: 1px solid var(--theme-border-color);
      border-right: 1px solid var(--theme-border-color);
      border-bottom: 1px solid var(--theme-border-color);
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      overflow-y: auto;
      max-height: 60%;
    }
  }
}