.register-container {
  width: 80%;
  max-width: 600px;

  .step-info {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: $sm-spacing;

    @include bp(tablet) {
      margin-bottom: 1.5rem
    }
  }

  .form-container {
    padding: $md-spacing;
    box-shadow: $form-box-shadow;
    border-radius: $border-radius;
  }

  @include bp(tablet) {
    margin-bottom: $md-spacing;
  }

  @include bp(phone) {
    width: 100%;
  }
}

.additional-link-text {
  padding-bottom: 0;

  .link {
    color: var(--theme-primary-color);
    text-decoration: underline;
  }

  @include bp(tablet) {
    margin-top: $md-spacing;
  }
}