.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding-bottom: 0;

  @include bp(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  &.local {
    grid-template-columns: repeat(3, 1fr);

    .list-item {
      padding: 0;

      &:hover .image-container {
        border: none;
      }

      .image-container {
        margin-bottom: 0;
      }
    }
  }

  .list-item {
    padding: $lg-spacing;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--theme-background-color);
    border: 1px solid var(--theme-border-color);
    border-radius: $border-radius;
    cursor: pointer;

    @include bp(tablet) {
      padding: $sm-spacing;
    }

    &:hover {
      box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
    }

    .image-container {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 6em;
      height: 6em;
      border: 1px solid var(--theme-background-color);
      border-radius: 50%;
      margin-bottom: 0.5em;

      &>span:first-child {
        width: 5em;
        height: 5em;
      }
    }

    &:hover>.image-container {
      border-color: var(--theme-primary-color);
    }

    &:hover .message-container {
      display: flex;
    }

    .message-container {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      right: 0.2em;
      z-index: 10;
      width: 2em;
      height: 2em;
      background: var(--theme-primary-color);
      border-radius: 50%;
    }

    .info {
      text-align: center;
      font-size: 0.9em;

      .name {
        margin-bottom: 0;
      }

      .scale {
        margin-bottom: 1.1em;
      }

      .additional-info {
        text-align: center;
        padding-bottom: 0;
        margin: 0;
        font-size: 0.9rem;
        color: var(--theme-text-darker-color);
      }
    }
  }
}