.comments {
    width: 100%;
    display: flex;
    align-items: center;
    background: #E8E8E8;
    padding: 1em;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;

    &>span:first-of-type {
        width: 2.5em;
        height: 2.5em;
    }

    & form {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        align-items: center;
        position: relative;

        & textarea {
            flex-grow: 1;
            flex-shrink: 1;
            margin-left: 1em;
            padding: 0.5em;
            background: #FFFFFF;
            border: 1px solid #FFFFFF;
            border-radius: 0.3em;
            outline: none;
            height: 2.5em;
            overflow-y: hidden;
        }

        & button {
            position: absolute;
            right: 0.5em
        }
    }
}