.container {
  display: grid;
  grid-gap: $md-spacing;
  align-items: center;

  &.full-width {
    width: 100%;
  }

  &.fit-content {
    width: fit-content;
  }

  &.position-start {
    margin-right: auto;
  }

  &.position-end {
    margin-left: auto;
  }
}