.container {
  background: var(--theme-background-color);

  .form {
    margin-top: $xs-spacing;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .form-content {
      flex: 2;
      padding-bottom: $sm-spacing;
    }

    .form-action {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: $md-spacing;
      align-items: center;
      margin-top: $xs-spacing;
    }
  }
}