.login-button {
  padding: 0.7em 1.3em;
  width: 100%;
  position: relative;

  .icon {
    position: absolute;
    right: 1.1em;
    top: 0.8em;
    width: 24px;
    height: 24px;
    fill: var(--theme-background-color);
  }
}