.site-header {
  padding: 0.5em 2em;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--theme-background-color);
  border-bottom: 1px solid var(--theme-background-darker-color);
  box-shadow: $box-shadow;

  // .user-info {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   .description {
  //     margin-left: 0.5em;
  //     color: var(--theme-text-color);

  //     .view-profile {
  //       padding-bottom: 0;
  //       font-size: 0.9em;

  //       &:nth-child(2) {
  //         color: var(--theme-link-color);
  //       }
  //     }

  //     .name {
  //       display: block;
  //       color: var(--theme-text-color);
  //     }
  //   }
  // }
}