.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0.7em 1.3em;
  background: var(--theme-background-color);
  color: var(--theme-text-color);
  border-color: var(--theme-link-color);
  width: 100%;
  border-radius: 0.5em;

  .icon {
    width: 32px;
    height: 32px;
    margin-right: 0.3em;
  }

  &:hover {
    border-color: var(--theme-primary-color);

    .icon {
      background: transparent;
    }
  }
}