.header {
  max-width: 20em;
  justify-self: flex-end;
  background: var(--theme-layout-color);
  padding-top: $sm-spacing;

  &.small-header .link .name {
    display: none;
  }

  @include bp(phone) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: unset;
    padding-top: 0;
    padding-bottom: env(safe-area-inset-bottom);
    border-top: 1px solid var(--theme-border-color);
    z-index: 1000;
  }

  // Common styles
  .link,
  svg {
    transition: all 0.2s ease-in-out;
  }

  // Navigation
  .navigation {
    @include bp(phone) {
      width: 100%;
      padding: $xs-spacing $sm-spacing;
    }

    .list {
      padding-bottom: 0;

      @include bp(phone) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $xs-spacing;
        align-items: center;
      }

      .list-item {
        padding: 0.3em 0;

        &:first-of-type {
          padding: 0;
        }

        @include bp(phone) {
          width: fit-content;
          margin: 0 auto;
          padding: 0;
        }

        .link {
          display: flex;
          align-items: center;
          border-radius: $md-spacing;
          background: var(--theme-layout-color);
          color: var(--theme-text-color);
          word-break: break-all;
          padding: $xs-spacing;

          @include bp(phone) {
            width: fit-content;
            justify-self: center;
          }
      
          &.selected,
          &:hover,
          &:focus {
            background: var(--theme-primary-lighter-color);
            color: var(--theme-primary-color);
      
            svg {
              fill: var(--theme-primary-color);
            }
          }

          .name {
            font-weight: bold;
            margin-left: $sm-spacing;
            word-break: break-word;

            @include bp(desktop-small) {
              display: none;
            }
          }
        }
      }
    }
  }
}