.container {
  display: flex;
  justify-content: center;
  align-items: center;

  &.type-local {
    .loader {
      width: $md-spacing;
      height: $md-spacing;
    }
  }

  &.type-global {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .loader {
      width: $xl-spacing;
      height: $xl-spacing;
    }
  }

  .loader {
    border-radius: 50%;
    animation: load infinite linear 1s;

    &.color-primary {
      border: 5px solid var(--theme-primary-color);
    }

    &.color-background {
      border: 5px solid var(--theme-background-color);
    }

    &.color-primary,
    &.color-background {
      border-top: 5px solid transparent;
    }
  }
}

@keyframes load {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }

  100% {
    transform: rotate(360deg);
  }
}