.container {
  display: flex;
  align-items: center;
  padding: $xs-spacing $sm-spacing;
  margin-bottom: $md-spacing;
  border: 1px solid var(--theme-border-color);
  border-radius: $border-radius;
  background: var(--theme-background-color);

  .button {
    border: 1px solid var(--theme-border-darker-color);
    padding: $xs-spacing $md-spacing;
    margin-left: $sm-spacing;
    border-radius: 2em;
    width: 100%;
    text-align: left;
    color: var(--theme-text-darker-color);
    cursor: pointer;

    &:hover {
      background: var(--theme-primary-lighter-color);
      color: var(--theme-primary-color);
      border-color: var(--theme-primary-color);
    }
  }
}