.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  &.with-hover-effect {
    padding: $xs-spacing;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;

    &:hover {
      background: var(--theme-brighter-color);

      .icon {
        fill: var(--theme-primary-color);
      }
    }
  }

  .icon {
    width: 36px;
    height: 36px;
    fill: var(--theme-text-color);

    &.selected {
      fill: var(--theme-primary-color);
    }

    @include bp(phone) {
      width: 24px;
      height: 24px;
    }
  }
}