.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  &.with-hover-effect {
    padding: $xs-spacing;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;

    &:hover {
      background: var(--theme-brighter-color);

      .icon {
        fill: var(--theme-primary-color);
      }
    }
  }

  .icon {
    fill: var(--theme-text-color);

    &.selected {
      fill: var(--theme-primary-color);
    }

    &.size-sm {
      width: 30px;
      height: 30px;
    }

    &.size-md {
      width: 36px;
      height: 36px;
    }

    &.size-sm,
    &.size-md {
      @include bp(phone) {
        width: 24px;
        height: 24px;
      }
    }
  }
}