.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  
  &.with-hover-effect {
    padding: $xs-spacing;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    
    &:hover {
      background: var(--theme-primary-lighter-color);
      
      .icon {
        fill: var(--theme-primary-color);
      }
    }
  }
  
  .icon {
    &.color-primary {
      fill: var(--theme-primary-color);

      &.selected {
        fill: var(--theme-primary-color);
      }
    }

    &.color-secondary {
      fill: var(--theme-secondary-color);

      &.selected {
        fill: var(--theme-primary-color);
      }
    }

    &.color-text {
      fill: var(--theme-text-color);

      &.selected {
        fill: var(--theme-primary-color);
      }
    }

    &.color-background {
      fill: var(--theme-background-color);

      &.selected {
        fill: var(--theme-primary-color);
      }
    }

    &.color-like {
      fill: var(--theme-like-color);
    }

    &.color-comment {
      fill: var(--theme-comment-color);
    }

    &.size-xs {
      width: 19px;
      height: 19px;
    }

    &.size-sm {
      width: 24px;
      height: 24px;
      
      @include bp(phone) {
        width: 18px;
        height: 18px;
      }
    }

    &.size-md {
      width: 30px;
      height: 30px;
    }

    &.size-lg {
      width: 36px;
      height: 36px;
    }

    &.size-md,
    &.size-lg {
      @include bp(phone) {
        width: 24px;
        height: 24px;
      }
    }
  }
}