.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--theme-link-color);
  border-radius: $border-radius;
  background: var(--theme-background-color);
  padding: $spacing-layout-elements;
  margin-bottom: $spacing-layout-elements;
  position: relative;

  .edit-container {
    position: relative;
    margin-bottom: $spacing-layout-elements;
    padding: 0.3em;
    border: 1px solid var(--theme-link-color);
    border-radius: 50%;

    .avatar {
      display: block;
      position: relative;
      width: 6em;
      height: 6em;
      border-radius: 50%;
      overflow: hidden;
    }

    .edit-icon {
      background: var(--theme-link-color);
      width: 2em;
      height: 2em;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .message {
    color: var(--theme-link-color);
    font-size: 0.8em;
    padding-bottom: 0;
  }

  .file {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }


  &:hover {
    border-color: var(--theme-primary-color);

    .edit-container {
      border-color: var(--theme-primary-color);
    }

    .edit-icon {
      background: var(--theme-primary-color);
    }
  }
}