.container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  background: -webkit-linear-gradient(120deg, var(--theme-background-color) 60%, var(--theme-primary-color));

  @include bp(tablet) {
    grid-template-columns: 1fr;
  }

  .info,
  .data {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $md-spacing;

    &.info {
      position: relative;

      .image-container {
        position: relative;
        height: 30em;
        width: 30em;
        user-select: none;

        .image {
          :global(.st0) {
            opacity: 0.18;
          }

          :global(.st1) {
            fill: #ADBEC4;
          }

          :global(.st2) {
            fill: #3D70B2;
          }

          :global(.st3) {
            fill: #EF6E4B;
          }

          :global(.st4) {
            fill: #FF8B66;
          }

          :global(.st5) {
            fill: #CFD8DC;
          }

          :global(.st6) {
            fill: #DB614D;
          }

          :global(.st7) {
            fill: #1A4850;
          }

          :global(.st8) {
            fill: #FFFFFF;
          }

          :global(.st9) {
            fill: #164353;
          }

          :global(.st10) {
            fill: #205260;
          }

          :global(.st11) {
            fill: #0C476B;
          }

          :global(.st12) {
            fill: #105E99;
          }

          :global(.st13) {
            fill: #5EE5D1;
          }

          :global(.st14) {
            fill: #3ACCB6;
          }

          :global(.st15) {
            fill: #41D6C3;
          }

          :global(.st16) {
            fill: #24A088;
          }

          :global(.st17) {
            fill: #31BCA4;
          }

          :global(.st18) {
            fill: #225866;
          }

          :global(.st19) {
            fill: #8BBDDB;
          }

          :global(.st20) {
            fill: #6097B2;
          }

          :global(.st21) {
            fill: #3E6575;
          }

          :global(.st22) {
            fill: #0A3D56;
          }

          :global(.st23) {
            fill: #13BC9C;
          }
        }

        @media screen and (min-width: 1024px) and (max-width: 1300px) {
          width: 25em;
          height: 25em;
        }

        @include bp(tablet) {
          width: 20em;
          height: 20em;
        }
      }
    }

    &.data {
      flex-direction: column;
      justify-content: space-between;
      padding-top: $xl-spacing;

      @include bp(tablet) {
        padding-top: 0;
      }

      .links {
        position: absolute;
        top: $xl-spacing;
        right: 0;
        padding-bottom: 0;

        .link {
          display: block;
          background: transparent;
          border-top-left-radius: 1em;
          border-bottom-left-radius: 1em;
          color: var(--theme-text-color);
          padding: 0.4em 0.6em 0.4em 1.3em;
          margin-bottom: 0.5em;
          font-size: 1.2em;

          &:hover,
          &.selected {
            background: var(--theme-primary-color);
            color: var(--theme-background-color);
          }
        }


        @media screen and (min-width: 1024px) and (max-width: 1430px) {
          left: 0;
          right: unset;

          .link {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;

            &:hover,
            &.selected {
              background: var(--theme-background-color);
              color: var(--theme-text-color);
            }
          }
        }
      }
    }
  }
}