.container {
    padding-bottom: var(--spacing-layout-elements);
    display: flex;
    flex-wrap: wrap;

    & .left-column>div:not(:last-child),
    .right-column>div:not(:last-child) {
        margin-bottom: var(--spacing-layout-elements);
    }

    & .left-column {
        flex-basis: 38%;
    }

    & .right-column {
        flex-basis: 58%;
        margin-left: var(--spacing-layout-elements);
        flex-grow: 1;

        & .description {
            background: #FFFFFF;
            padding: 1em;
            border-radius: 0.3em;

            & h4 {
                text-align: center;
            }

            & p {
                padding-bottom: 0;
                text-align: justify;
            }
        }
    }
}