.site {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  margin: 0 auto;
  max-width: $layout-main-width;
  min-height: 100vh;
  background: var(--theme-background-color);

  @include bp(desktop-small) {
    grid-template-columns: 1fr 100%;
  }

  @include bp(phone) {
    grid-template-columns: 1fr;
  }

  .site-main {
    max-width: $layout-content-width;
    margin: $md-spacing auto 0 auto;
    padding-bottom: $md-spacing;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
}