.site {
  display: grid;
  grid-template-columns: 0.15fr 0.85fr;
  grid-gap: $sm-spacing;
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  min-height: 100vh;

  &.small-header {
    grid-template-columns: auto 1fr;
    width: 80%;

    @include bp(tablet) {
      width: 100%;
    }

    @include bp(phone) {
      grid-template-columns: 1fr;
    }
  }

  @include bp(desktop-small) {
    grid-template-columns: auto 1fr;
  }

  @include bp(tablet) {
    width: 100%;
    padding: 0;
  }

  @include bp(phone) {
    grid-template-columns: 1fr;
  }

  .site-main {
    padding: $sm-spacing;
    background: var(--theme-layout-color);

    @include bp(tablet) {
      max-height: 94vh;
      overflow-y: auto;
    }
  }
}