.site {
  max-width: $layout-main-width;
  min-height: 100vh;
  margin: 0 auto;
  background: var(--theme-background-darker-color);
  position: relative;

  .site-main {
    max-width: $layout-content-width;
    margin: $md-spacing auto 0 auto;
    padding-bottom: $md-spacing;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
}