.social-container {
    margin-left: auto;
    display: flex;

    & > div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-decoration: none;

        & i {
            margin-right: 0.3em;
        }

        &:not(:last-child) {
            margin-right: 0.7em;
        }

        &.like>i {
            color: var(--color-red-main);
        }

        &.comment>i {
            color: var(--color-blue-main);
        }
    }
}