.container {
    width: 50%;
    margin: 0 auto;

    .user-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: var(--spacing-layout-elements);

        & .no-users {
            padding-bottom: 0;
            text-align: center;
        }

        & .user-container {
            padding: 1em;
            border-radius: 0.3em;
            background: #FFFFFF;
            display: flex;
            align-items: flex-start;

            &>span:first-child {
                width: 5em;
                height: 5em;
            }

            & .user-info {
                margin: 0 var(--spacing-layout-elements);

                & p {
                    padding-bottom: 0;
                }

                & .name {
                }

                & .home {
                    font-size: 0.8em;
                    color: var(--color-grey-main);
                    margin-bottom: var(--spacing-layout-elements);   
                }

                & .work {
                   font-size: 0.9em;
                }
            }

            & button {
                margin-left: auto;
                padding: 1em 1.3em;

                & i {
                    margin-right: 1em;
                    font-size: 1.1em;
                }
            }
        }
    }
}