.container {

    & section {
        display: flex;
        align-items: center;
        padding: 1em;
        border-radius: 0.3em;
        background: #FFFFFF;

        &:not(:last-child) {
            margin-bottom: 1em;
        }

        & input {
            padding: 0.3em;
            width: 80%;
            border-radius: 0.3em;
            border: 1px solid var(--color-grey-main);
            outline: none;

            &:focus,
            &:hover {
                border-color: var(--color-blue-main);
            }
        }

        & .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2em;
            height: 2em;
            border: 1px solid var(--color-grey-main);
            border-radius: 0.3em;
            font-size: 1.2em;
            color: var(--color-blue-main);
            margin-right: 0.5em;
        }

        & .action-container {
            margin-left: auto;
            color: var(--color-red-main);
            cursor: pointer;
        }

    }
}