.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;
    background: #F4F4F4;

    & .site-main {
        max-width: var(--layout-content-width);
        margin: var(--spacing-layout-elements) auto 0 auto;
        padding-bottom: var(--spacing-layout-elements);
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
    }
}