.container {
  display: flex;
  flex-wrap: wrap;

  @include bp(tablet) {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .left-column {
    flex-basis: 38%;
  }

  .right-column {
    flex-basis: 58%;
    margin-left: $md-spacing;
    flex-grow: 1;

    @include bp(tablet) {
      margin-left: 0;
    }
  }
}