.container {
    padding: 2em;
    border-radius: 0.3em;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.5);

    & p {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 0;
        margin-bottom: var(--spacing-layout-elements);

        label {
            position: absolute;
            top: 1.1em;
            left: 2em;
            color: var(--color-grey-main);
        }

        & input {
            border: 1px solid var(--color-grey-main);
            background: transparent;
            padding: 1em 2em;
            border-radius: 0.3em;
            outline: none;
            position: relative;

            &:focus,
            &:required{
                & + label {
                    font-size: 0.7em;
                    top: 0;
                    left: 0.7em;
                }
            }

            &:focus,
            &:hover {
                & ~ i {
                    color: var(--color-blue-main);
                }

                border-color: var(--color-blue-main);
            }
        }

        & i {
            position: absolute;
            top: 1.2em;
            left: 0.5em;
            color: var(--color-grey-main);
        }
    }

    & button[type=button],
    & button[type=submit] {
        width: 100%;
        padding: 1em 2em;
        margin-bottom: 0.5em;
    }

    & .register-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;
        margin-bottom: 0;

        & button:first-child:nth-last-child(2),
        & button:first-child:nth-last-child(2)~button {
            flex-basis: 45%;
        }
    }

    & .link {
        color: var(--color-blue-main);

        &:hover {
            text-decoration: underline;
        }
    }
}