.container {
  border: 1px solid var(--theme-error-color);
  border-radius: $border-radius;
  padding: $xs-spacing $md-spacing $xs-spacing $md-spacing;
  background: var(--theme-error-lighter-color);
  margin-bottom: $md-spacing;
  position: relative;

  .error {
    position: relative;
    padding-left: $md-spacing;

    .error-icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      fill: var(--theme-error-color);
    }
  }
}