.container,
.container-no-image {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100%;
    grid-gap: var(--spacing-layout-elements);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    z-index: 7777;
    padding: 4em;

    &>button:first-of-type {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        font-size: 1.5em;
    }

    & .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 0.3em;
        overflow: hidden;

        & img {
            width: 100%;
            height: 100%;
        }        
    }

    & .post-info-container {
        overflow: hidden;

        & .post-info {
            position: relative;
            
            &>section:first-child {
                padding-bottom: 3.5em;
                border-top-left-radius: 0.3em;
                border-top-right-radius: 0.3em;
            }

            &>section:nth-child(2) {
                position: absolute;
                left: 1.75em;
                top: 5em;
            }

            & > button:first-of-type {
                position: absolute;
                top: 4em;
                right: 1.75em;

                & + button {
                    position: absolute;
                    top: 1em;
                    right: 1.75em;
                }
            }
        }

        & span:nth-child(2) {
            font-size: 1em;
        }

        & .comments {
            margin-bottom: auto;
        }
    }
}

.container-no-image {
    display: flex;
    justify-content: center;
    align-items: center;

    & > .post-info-container {
        width: 50%;
    }
}