.button {
  position: relative;
  padding: 0.4em 1.2em;
  border: 1px solid var(--theme-primary-color);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  outline: none;
  cursor: pointer;
  font-weight: bold;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.color-primary {
    color: var(--theme-primary-font-color);
    background: var(--theme-primary-color);

    &:hover:not(:disabled) {
      background: var(--theme-primary-darker-color);
    }
  }

  &.color-secondary {
    color: var(--theme-secondary-font-color);
    background: var(--theme-secondary-color);

    &:hover:not(:disabled) {
      background: var(--theme-secondary-darker-color);
    }
  }

  .hidden-text {
    visibility: hidden;
  }
}