.header {
  justify-self: flex-start;

  .title {
    color: var(--theme-primary-color);
    text-transform: uppercase;
  }
}

.register-container {
  width: 80%;
  max-width: 600px;
  margin-bottom: $spacing-layout-elements;

  @include bp(phone) {
    width: 100%;
  }
}

.additional-link-text {
  padding-bottom: 0;
  margin-top: $spacing-layout-elements;

  .link {
    color: var(--theme-primary-color);
    text-decoration: underline;
  }
}