.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $md-spacing;

  @include bp(phone) {
    grid-template-columns: 1fr;
  }

  .list {
    padding: 0 $xs-spacing;
  }
}