.header {
  justify-self: flex-start;

  .title {
    color: var(--theme-primary-color);
    text-transform: uppercase;
    margin: 1.2em 0 $sm-spacing 0;

    @media screen and (max-width:1300px) {
      margin: 0 0 $sm-spacing 0;
    }
  }
}

.login-container {
  width: 80%;
  max-width: 600px;
  padding: $md-spacing;
  box-shadow: $form-box-shadow;
  border-radius: $border-radius;

  @include bp(phone) {
    width: 100%;
  }

  .error-container {
    border: 1px solid var(--theme-error-color);
    border-radius: $border-radius;
    padding: $xs-spacing $md-spacing $xs-spacing 3em;
    background: var(--theme-error-brighter-color);
    margin-bottom: $md-spacing;
    position: relative;

    .error-icon {
      position: absolute;
      left: 1em;
      top: 0.55em;
      width: 24px;
      height: 24px;
      background: var(--theme-error-color);
      -webkit-mask: url('../../../public/images/error-icon.svg?encoding=base64') no-repeat center;
      mask: url('../../../public/images/error-icon.svg?encoding=base64') no-repeat center;
    }
  }

  .form {
    margin-bottom: $md-spacing;
  }

  .social-container {
    .social-description {
      color: var(--theme-link-color);
      text-align: center;
    }
  }
}

.additional-link-text {
  padding-bottom: 0;
  margin-top: $md-spacing;

  .link {
    color: var(--theme-primary-color);
    text-decoration: underline;
  }
}