.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--theme-border-color);
    padding-bottom: $sm-spacing;
  }

  &:last-of-type {
    padding-top: $sm-spacing;
  }
}