.container {

  &.center {
    display: flex;
    align-items: center;
  }

  .avatar {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: $avatar-box-shadow;
    display: block;

    &.size-sm {
      width: 30px;
      height: 30px;

      @include bp(phone) {
        width: 24px;
        height: 24px;
      }
    }

    &.size-md {
      width: 3.5em;
      height: 3.5em;
    }

    &.size-lg {
      width: 5em;
      height: 5em;
    }

    &.size-xl {
      width: 7em;
      height: 7em;
    }
  }

  .author {
    margin-left: $sm-spacing;
    
    .name {
      font-size: 1rem;
      margin-bottom: 0.1em;
      padding-bottom: 0;
      font-family: $font-main, sans-serif;
    }

    .date {
      padding-bottom: 0;
      color: var(--theme-text-darker-color);
    }
  }
}