.menu {
  margin-bottom: $lg-spacing;

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;

    .list-item {
      width: 10em;
      height: 2.5em;
      text-align: center;

      @include bp(tablet) {
        margin-bottom: $sm-spacing;
      }
    }
  }
}