.like-button {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--color-red-main);
    box-shadow: 0 0.3em 2em rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    border: none;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}