.container {
  display: grid;
  grid-gap: $md-spacing;
  align-items: center;

  // Width Type
  &.full-width {
    width: 100%;
  }

  // Width Type
  &.fit-content {
    width: fit-content;
  }

  // Position
  &.start {
    margin-right: auto;
  }

  // Position
  &.end {
    margin-left: auto;
  }
}