{
  "presets": [
    [ "@babel/preset-env", { "targets": { "node": "current" } } ],
    [ "@babel/preset-react", { "runtime": "automatic" } ]
  ],
  "plugins": [
    "@loadable/babel-plugin",
    // When true, class properties are compiled to use an assignment expression instead of Object.defineProperty
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}