$font-size-body-small: 14px;
$font-size-body-medium: 16px;
$font-size-body-large: 18px;

$font-main: 'Open Sans';
$font-headers: 'Balsamiq Sans';

$layout-main-width: 100%;
$layout-content-width: 90%;

$xs-spacing: 0.5em;
$sm-spacing: 1em;
$md-spacing: 1.5em;
$lg-spacing: 2em;
$xl-spacing: 3em;

$border-radius: 0.3em;
$box-shadow: 0 1px 4px rgba(26, 26, 67, 0.1);
$avatar-box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 3px inset;
$form-box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;

:root {
  // Primary Color
  --theme-primary-color: var(--blue-primary-color);
  --theme-primary-lighter-color: var(--blue-primary-lighter-color);
  --theme-primary-darker-color: var(--blue-primary-darker-color);
  --theme-primary-font-color: var(--blue-primary-font-color);

  // Secondary Colors
  --theme-secondary-color: var(--blue-secondary-color);
  --theme-secondary-lighter-color: var(--blue-secondary-lighter-color);
  --theme-secondary-darker-color: var(--blue-secondary-darker-color);
  --theme-secondary-font-color: var(--blue-secondary-font-color);

  //  Social Network Colors
  --theme-like-color: rgba(255, 63, 64, 1);
  --theme-like-lighter-color: rgba(255, 63, 64, 0.1);
  --theme-comment-color: rgba(64, 128, 255, 1);
  --theme-comment-lighter-color: rgba(64, 128, 255, 0.1);


  // Utill colors
  --theme-background-color: var(--blue-background-color);
  --theme-background-darker-color: var(--blue-background-darker-color);
  --theme-border-color: var(--blue-border-color);
  --theme-border-darker-color: var(--blue-border-darker-color);
  --theme-text-color: var(--blue-text-color);
  --theme-text-darker-color: var(--blue-text-darker-color);
  --theme-link-color: var(--blue-link-color);
  --theme-error-color: var(--blue-error-color);
  --theme-error-lighter-color: var(--blue-error-lighter-color);

  // Blue theme
  // --blue-primary-color: #5469D4;
  // --blue-primary-color: #1B53F4;
  // --blue-primary-color: #379FF6;

  // Primary Colors
  --blue-primary-color: rgba(29, 161, 242, 1);
  --blue-primary-lighter-color: rgba(29, 161, 242, 0.1);
  --blue-primary-darker-color: rgba(26, 145, 218, 1);
  --blue-primary-font-color: rgba(255, 255, 255, 1);


  // Secondary Colors
  --blue-secondary-color: rgba(255, 255, 255, 1);
  --blue-secondary-lighter-color: rgba(255, 255, 255, 1);
  --blue-secondary-darker-color: rgba(29, 161, 242, 0.1);
  --blue-secondary-font-color: rgba(29, 161, 242, 1);


  // Util Colors
  --blue-background-color: rgba(255, 255, 255, 1);
  --blue-background-darker-color: rgba(247, 248, 250, 1);
  --blue-border-color: rgba(235, 238, 240, 1);
  --blue-border-darker-color: rgba(153, 153, 153, 1);
  --blue-text-color: rgba(34, 34, 34, 1);
  --blue-text-darker-color: rgba(34, 34, 34, 0.6);
  --blue-link-color: rgba(34, 34, 34, 1);
  --blue-error-color: rgba(255, 63, 64, 1);
  --blue-error-lighter-color: rgba(255, 63, 64, 0.1);

  // Pink theme 
  // Primary Color
  --pink-primary-color: rgba(255, 116, 116, 1);
  --pink-primary-lighter-color: rgba(255, 116, 116, 0.1);
  --pink-primary-darker-color: rgba(230, 91, 91, 1);
  --pink-primary-font-color: rgba(255, 255, 255, 1);

  // Secondary Colors
  --pink-secondary-color: rgba(255, 255, 255, 1);
  --pink-secondary-lighter-color: rgba(255, 255, 255, 1);
  --pink-secondary-darker-color: rgba(255, 116, 116, 0.1);
  --pink-secondary-font-color: rgba(255, 116, 116, 1);

  // Util Colors
  --pink-background-color: #FFFFFF;
  --pink-background-darker-color: #F7F8FA;
  --pink-border-color: rgba(235, 238, 240, 1);
  --pink-border-darker-color: rgba(153, 153, 153, 1);
  --pink-text-color: rgba(34, 34, 34, 1);
  --pink-text-darker-color: rgba(34, 34, 34, 0.6);
  --pink-link-color: rgba(34, 34, 34, 1);
  --pink-error-color: rgba(255, 63, 64, 1);
  --pink-error-lighter-color: rgba(255, 63, 64, 0.1);
}